.About {
    margin-bottom: 20px;

    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Main {
    flex-grow: 2;
    flex-basis: 0;
}

.ExEd {
    text-align: end;
}

@media only screen and (max-width: 900px) {
    .ExEd {
        display: none;
    }
}