
:root {
    --card-width: 300px;
}

.Grid {
    --card-width: 300px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    justify-items: center;
}

.Flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Flex > * {
    flex: 1 1 var(--card-width);
}