.ModalBackground {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.Model {
  max-height: 80%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageModal {
  border: 10px solid white;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}