
:root {
  --thumbnail-width: 150px;
}

.Thumbnail {
  height: var(--thumbnail-width);
  cursor: pointer;
  border-radius: 5px;
}

.ThumbnailGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

