
.ProjectTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    align-items: center;
}

.ProjectTitle h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}