
.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
        text-decoration: none;
        color: var(--text);
        font: 8px 'Raleway', sans-serif;
    }
}

.Links {
    display: flex;
    gap: 20px;
}

.Link {
    color: var(--text);
    width: 100%;
}