.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Credits {
  font-size: 8px;
}

.Links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Link {
  color: var(--text);
  width: 100%;
}
