
.Header {
    column-gap: 20px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content 1fr;
}

.Logo {
    grid-row-start: 1;
    grid-row-end: 3;

    svg {
        /* SVG Styling */
        display: block;
        fill: var(--text);
        height: 75px;
    }
}
  
.Title {
    grid-row-start: 1;
    
    display: flex;
    flex-direction: row;
    align-self: center;
    
    a {
        text-decoration: none;
        color: var(--text);
    }
}

.Adjacent {
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    align-items: center;
    gap: 20px;

    a {
        color: var(--text);
        text-decoration: none;
    }
}
  
.NavBar {
    grid-column-start: 2;

    display: flex;
    flex-direction: row;
    gap: 20px;

    a {
        color: var(--text);
        font-size: 20px;
    }
    
    .inactive {
        text-decoration: none;
    }
    
    .active {
        text-decoration: underline;
    }
}


/* Float NavBar Down for Mobile View */
@media only screen and (max-width: 520px) {
    .Header {
        row-gap: 20px;
    }

    .Title {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .Adjacent {
        display: none;   
    }
    
    .NavBar {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: -1;
        justify-content: space-around;
    }
}