
.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    min-width: 60%;
}

.Button {
    border: none;
    
    padding: 1px 10px 1px 10px;
    border-radius: 8px;
    
    font: 24px 'Bebas Neue', cursive;
    color: #fff;

    background-color: rgb(255, 255, 255, 0.05);

    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2)
}
