
.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 45%;
}

.Button {
    border: none;
    border-radius: 15px;

    padding: 5px 15px 5px 15px;
    
    font: 24px 'Bebas Neue', cursive;
    color: #fff;

    background-color: rgb(255, 255, 255, 0.05);

    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2)
}

/* Better Spacing for NavBar on Mobile */
@media only screen and (max-width: 600px) {
    .NavBar {
        width: 95%;
    }
}
