
.Project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 250px;
    transition: ease-in 0.2s;
}

.Project:hover{
    transition: ease-in 0.1s;
    transform: scale(1.03);
}

.Links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.ProjectTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProjectDescription {
    margin-top: 10px;
    margin-bottom: 10px;
}