/*
* Global Styling
* --------------
* There should only be universally applied styles in this file.
* E.g. Fonts, Background Color?, etc... 
*
* All component specific styles are in their associated CSS module files.
* 
* Dark Mode Switches?
*/


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;

    background-color:  #121212;

    font: 2em 'Bebas Neue', cursive;
    color: #fff;
    letter-spacing: 2px;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}