/*
* Global Styling
* --------------
* There should only be universally applied styles in this file.
* E.g. Fonts, Background Color?, etc... 
*
* All component specific styles are in their associated CSS module files.
* 
* Dark Mode Switches?
*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: rgb(53, 53, 53);
}
