/*
* Global Styling
* --------------
* There should only be universally applied styles in this file.
* E.g. Fonts, Background Color?, etc... 
*
* All component specific styles are in their associated CSS module files.
* 
* Dark Mode Switches?
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

/* Set some variables */
:root {
    --background: white;
    --text: black;
  }
  [data-theme='dark'] {
    --background: #121212;
    --text: #ddd;
  }

body {
    background-color:  var(--background);

    font-family: 'Bebas Neue', monospace;
    color: var(--text);
    letter-spacing: 2px;
    
    margin: 20px 10% 20px 10%
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    font: 15px 'Raleway', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
