
.Project {
    background-color: rgb(255, 255, 255, 0.05);

    border: 1px solid black;
    border-radius: 20px;

    padding: 20px 20px 20px 20px;
}

.Project span{
    margin-top: 10px;
    margin-bottom: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}
