
.Back {
  text-decoration: none;
  color: var(--text);
}

.CollectionHeader {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.CollectionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}